@charset "utf-8";
.cont
{
    width: 70vw;
    margin: 50px auto;
}
.body,
.tab-header_item
{
    border:1px solid gray;
}
.tab-body_item
{
    display: none;
    min-height: 100px;
}
.tab-body_item.active
{
    display: block;
    padding: 10px;
}
.tab-header_item
{
    display: inline-block;
    padding: 10px 20px;
    min-width: 70px;

    text-align: center;

    border-bottom: transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}
.tab-header_item.active
{
    background-color: rgb(109, 197, 255);
    color: white;
}
li
{
    list-style-image: url(icon.jpg);
}
img
{
    width: 300px;
}